name: Bot-Run

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16'
      - name: Fast-Install-and-Run
        run: |
          npm install --no-audit --no-fund --quiet
          node index.js
